
  
  .carousel-item img {
      
      
    display: block;
    max-width: 100%;
    line-height: 1;
    margin:auto;
      min-height: 500px;
      height: 100%;
      width: 100%;
      filter: sepia(50%) saturate(50%) brightness(50%) hue-rotate(
330deg
);
}


  
.carousel-item h2 {
    text-align: center;
    font-size:5em;
    margin-bottom: 2.5em;
    box-sizing: border-box;
    
   
}
.carousel-item p{
    text-align: center;
    font-size: 3em;
    margin-bottom: 3em;

}
@media screen and (min-width: 25em){
    .carousel h2 p { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    margin-bottom:calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ) ; }
  }
  
  /* Safari <8 and IE <11 */
  @media screen and (min-width: 25em){
    .carousel h2 p{ font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
        margin-bottom:calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ) ; }
  }
  
  @media screen and (min-width: 50em){
  .carousel h2 p{ font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    margin-bottom:calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ) ; }
  }