
#testimonials
{
    padding-top: 50px !important;
    padding-bottom: 50px !important; 
}
#testimonials .row
{
    margin-top: 30px !important;
}
.col-md-4
{
    margin: 40px auto !important;
}
h1 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
    font-size: 3em;
}
.profile
{
    padding: 70px 10px 10px !important;
    background-color:  #efefef !important;
}
.user
{
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
}
.profile img
{
    top: -60px !important;
    position: absolute !important;
    left: calc(50% - 60px) !important;
    border: 10px solid #fff !important;
}
.profile h3{
    font-size: 20px !important;
    margin-top: 15px !important;
    color: #007bff !important;
}
#testimonials span
{
    font-size: 12px !important;
    color: #333 !important;
}
blockquote
{
    font-size: 16px !important;
    line-height: 30px !important;
}
blockquote::before
{
    content: '"' !important;
    font-size: 50px !important;
    color: #007bff !important; 
    position: relative !important;
    line-height: 20px !important;
    bottom: -15px !important;
    right: 5px !important;
}
blockquote::after
{
    content: '"' !important;
    font-size: 50px !important;
    color: #007bff !important;
    position: relative !important;
    line-height: 10px !important;
    bottom: -15px !important;
    left: 5px !important;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2) !important;
    cursor: pointer !important;
    transition: 0.5s !important; 
}
